.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video {
    border-radius: 5px;
    float: right;
    height: 315px;
    margin-right: 10px;
    margin-top: 10px;
    width: 560px;
}

@media (max-width: 480px) {
    .video {
        float: right;
        height: 200px;
        margin-left: 40px;
        width: 200px;
    }
    .map {
        height: 300px !important;
        width: 350px !important;
    }
    .infoContainer {
        height: auto !important;
        margin-left: 250px !important;
        margin-top: 10px;
        width: 200px !important;
    }
    .sub_video {
        display: none;
    }
    .main_title {
        font-size: 30px !important;
        margin-left: 20px;
    }
    .linkExterno {
        margin-left: 200px;
        width: 300px;
    }
}

.infoContainer {
    display: flex; 
    text-align: center;
    align-items: center;
    background-color: white;
    border: 3px #4f6f96 solid;
    border-radius: 10px;
    justify-content: center;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 400px;
}

.text-section {
    padding: 1.5rem;
}

h3 {
    /* padding: 2.5rem 0 1rem 0; */
    color: var(--white);
}

p {
    color: var(--white);
    font-size: 16px;
    margin-bottom: 10px;
}

p a {
    color: var(--hover-color);
}

.map {
    border: 3px #4f6f96 solid;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 450px;
    width: 1200px;
}

.mapContainer {
    text-align: center;
}

.sub_header {
    color: #4f6f96;
}

.sub_video {
    color: #4f6f96;
}

#ubication {
    display: none;
}

#clima {
    display: none;
}

#fiesta1 {
    display: none;
}

#fiesta2 {
    display: none;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}